name: Run build
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v2
        with:
          distribution: temurin
          java-version: 11

      - name: Setup MSBuild Path
        uses: microsoft/setup-msbuild@v1

      - name: Setup NuGet
        uses: NuGet/setup-nuget@v1

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2

      - name: Execute Gradle build
        run: ./gradlew buildPlugin

      - name: Publish built artifacts
      - uses: actions/upload-artifact@v3
        with:
          name: BSMT-Rider.zip
          path: output/
          if-no-files-found: error # 'warn' or 'ignore' are also available, defaults to `warn`